<div ng-controller="chat_ctrl">
	
<h1>Amigo: {{friend_user}}</h1>
	<div ng-repeat="msg in oldMsg">
	  	<p>{{msg.sender}}: {{msg.message}}</p>
	</div>
	<div ng-repeat="msg2 in arrayMsg">
	  	<p>{{msg2}}</p>
	</div>


	 	
	<div>
      <md-input-container>
        <label>Mensaje</label>
        <input ng-model="message">
      </md-input-container>
     	 <md-button class="md-raised md-warn" ng-click="sendmessage()">Enviar mensaje</md-button>
	</div>
	<!--
			<div class="item-content">
		        <div class="item-media"><i class="icon f7-icons">chat</i></div>
		        <div class="item-inner">
		          <div class="item-title label">Mensaje</div>
		          <div class="item-input">
		            <textarea ng-model="message"></textarea>
		          </div>
		        </div>
		      </div>

		      <div class="content-block">
		 		 <a ng-click="sendmessage()" class="button form-to-data">Enviar mensaje</a>
			  </div>
	-->

</div>