
<div ng-controller="dashboard_ctrl">
	<md-content>
		<h1>DASHBOARD</h1>
		<p>nombre: {{user.nombre}}</p>
		<p>uid: {{user.uid}}</p>
		<p>email: {{user.email}}</p>
		<p>photo: {{user.photo}}</p>
		<p>imagen: {{userAvatar}}</p>
		
		<div class="centered">	
			<md-button class="md-raised md-primary" ng-click="getPicturefromGallery()">Buscar Imagen</md-button>
		</div>
		<div class="centered">	
			<md-button class="md-raised md-primary" ng-click="goToChat()">Chat Room</md-button>
		</div>
		<div class="centered">	
			<md-button class="md-raised md-primary" ng-click="startCheckout()">Pagar</md-button>
		</div>
		<div class="centered">	
			<md-button class="md-raised md-primary" ng-click="logout()">Logout</md-button>
		</div>

		
		<div class="centered">
			<img src="{{userAvatar}}" alt="imagen avatar" class="img-avatar"></img>
		</div>
	</md-content>
</div>