<div ng-controller="reset_ctrl">

<md-toolbar class="">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="back()">
            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </md-button>

          </div>
</md-toolbar>


<md-toolbar class="" ng-if="msg.email_sent">
    <div class="md-toolbar-tools">
      <p class="error-text">Bien! Te enviamon un correo a tu casilla para que puedas resetear tu contraseña.</p>
    </div>
  </md-toolbar> 

   <md-toolbar class="error-toolbar" ng-if="msg.email_not_exist">
    <div class="md-toolbar-tools">
      <p class="error-text">Uhm! No conocemos ese email, ¿Seguro lo escribiste bien? O puedes probar ingresando con Facebook.</p>
    </div>
  </md-toolbar> 

  <md-toolbar class="error-toolbar" ng-if="msg.error_email">
    <div class="md-toolbar-tools">
      <p class="error-text">Ha ocurrido un error y no pudimos enviarte un correo de reinicio de contraseñas.</p>
    </div>
  </md-toolbar> 
<div class="login-div">
<p>Ingresa tu email para reiniciar tu contraseña.</p>


<form name="resetform" novalidate ng-submit="resetPassword(email)">
	<md-input-container class="md-block input-size">
      <label>Email</label>
      <input type="email" name="useremail" ng-model="email" required md-no-asterisk></input>
      <div ng-messages="resetform.useremail.$error">
        <p ng-message="required">¡Debes ingresar tu e-mail!</p>
        <p ng-message="email">Ingresa un e-mail correcto.</p>
      </div>
     </md-input-container>
	<md-button type="submit" flex="100" class="md-raised md-primary">Enviar</md-button>
</form>
</div>
</div>